openapi: 3.0.0
info:
  description: | 
  version: 1.0.0
  title: API de Integração Escalasoft
  x-logo:
    url: 'Imagens/logologin.png'
servers:
  - url: http://portal.ghtransporte.com.br:9909/gh/armazem
security:
  - BearerAuth: []
tags:
  - name: Segurança 
  - name: Produtos  
  - name: Ordem de armazengem
  - name: Fiscal

paths:

#METODOS DE SEGURANÇA
 #GET
  /authorization:
    get:
      tags:
      - Segurança
      summary: Gerar token
      description: "BASIC, deve ser enviado no cabeçalho da requisição o usuário e a senha gerados pela GH."
      operationId: gettoken
      parameters:
      - name: usuario
        in: query
        description: login do usuário
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: senha
        in: query
        description: senha de acesso
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Token cadastrado com sucesso
          content:
            applicatizon/json:
              schema:
                $ref: '#/components/schemas/RetornoGerarToken'
        "400":
          description: Conteúdo inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example: "Campo obrigatório não preenchido  O campo \"Tipo\" é  obrigatório. Preencha o campo para salvar o registro. Campo: TIPO"
        "401":
          description: Não autorizado (Autenticação não informada ou inválida)


   ##  WMS - Ordem de armazenagem
  /armazem/ordem/cadastrar:
    post:
      tags:
        - Ordem de armazengem
      summary: Criar ordem de armazenagem
      description: Cria uma ordem de armazenagem com base nos dados informados
      operationId: postOrdemArmazenagem
      requestBody:
        $ref: '#/components/requestBodies/PostOrdemArmazenagem'
      responses:
        '200':
          description: Ordem de armazenagem cadastrada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaRetornoCadastroRegistroOrdem'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example: Não encontrado processo para a URL
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
        '500':
          description: Conteúdo inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaRetornoErroCadastroRegistroOrdem'
  /armazem/ordem/consultar:
    get:
      tags:
        - Ordem de armazengem
      summary: Consultar ordem de armazenagem
      description: Retorna todas as informações da ordem de armazenagem
      operationId: getOrdemArmazenagem
      parameters:
        - name: numeroOrdem
          in: query
          description: Número da ordem de armazenagem
          schema:
            type: integer
        - name: numeroPedido
          in: query
          description: Número do pedido
          schema:
            type: string
        - name: numeroDocumento
          in: query
          description: Número do documento de entrada
          schema:
            type: string
        - name: serieDocumento
          in: query
          description: Série do documento de entrada
          schema:
            type: string
      responses:
        '200':
          description: Informação da ordem de armazenagem
          content:
            application/json: 
              schema:
                $ref: '#/components/schemas/RetornoConsultaOrdem'
        '400':
          description: Parâmetro(s) inválido(s)
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /armazem/ordem/entradaEncerrada:
    get:
      tags:
        - Ordem de armazengem
      summary: Consultar entradas encerradas
      description: Retorna os dados da mercadoria recebida
      operationId: getEntradaEncerrada
      responses:
        '200':
          description: Informação da ordem de armazenagem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetornoConsultaEntradaEncerrada'
        '400':
          description: Parâmetro(s) inválido(s)
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /armazem/ordem/atrelar:
    post:
      tags:
        - Ordem de armazengem
      summary: Atrelar ordens de armazenagem
      description: Atrela uma ordem a outra ordem de armazenagem
      operationId: postAtrelarOrdemArmazenagem
      parameters:
        - name: numeroOrdem
          required: true
          in: query
          description: Número da ordem de armazenagem
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/PostAtrelarOrdemArmazenagem'
      responses:
        '200':
          description: Atrelamento da ordem de armazenagem efetuado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetornoCadastroRegistroSucesso'
        '400':
          description: Conteúdo inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /armazem/ordem/pedidoPendente:
    get:
      tags:
        - Ordem de armazengem
      summary: Consultar pedidos pendentes
      description: >-
        Retorna todos os pedidos que estão aguardando documento fiscal e que
        ainda não foram recebidos pelo cliente
      operationId: getPedidoPendente
      responses:
        '200':
          description: Listagem dos pedidos pendentes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetornoConsultaPedidoPendente'
        '400':
          description: Parâmetro(s) inválido(s)
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /armazem/ordem/etapaExecutada:
    get:
      tags:
        - Ordem de armazengem
      summary: Consultar etapas executadas
      description: >-
        Retorna todas as etapas executadas e que ainda não foram recebidos pelo
        cliente
      operationId: getEtapaExecutada
      responses:
        '200':
          description: Listagem das etapas pendentes de consulta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetornoConsultaEtapaExecutada'
        '400':
          description: Parâmetro(s) inválido(s)
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /armazem/ordem/estoqueMercadoria:
    get:
      tags:
        - Ordem de armazengem
      summary: Consultar estoque de mercadoria
      description: Retorna todos o estoque de mercadoria do cliente
      operationId: getEstoqueMercadoria
      responses:
        '200':
          description: Listagem do estoque do cliente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetornoConsultaEstoqueMercadoria'
        '400':
          description: Parâmetro(s) inválido(s)
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /armazem/ordem/anexo/cadastrar:
    post:
      tags:
        - Ordem de armazengem
      summary: Cadastrar anexos da ordem de armazenagem
      description: Cadastra anexos na ordem de armazenagem
      operationId: postOrdemAnexo
      parameters:
        - name: numeroOrdem
          required: true
          in: query
          description: Número da ordem de armazenagem
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/PostCadastrarAnexoOrdem'
      responses:
        '200':
          description: Anexo da ordem de armazenagem cadastrado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaRetornoCadastroRegistroAnexo'
        '400':
          description: Conteúdo inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /armazem/ordem/anexo/remover:
    post:
      tags:
        - Ordem de armazengem
      summary: Remover Anexos da ordem de armazenagem
      description: Exclui anexos na ordem de armazenagem
      operationId: DeleteOrdemAnexo
      parameters:
        - name: numeroOrdem
          required: true
          in: query
          description: Número da ordem de armazenagem
          schema:
            type: integer
        - name: sequencialAnexo
          required: true
          in: query
          description: Sequencial do anexo da ordem (retornado na consulta de ordem)
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/PostRemoverAnexoOrdem'
      responses:
        '200':
          description: Anexo da ordem de armazenagem removido com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetornoDeleteAnexo'          
        '400':
          description: Parâmetro(s) inválido(s)
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /armazem/ordem/originario/cadastrar:
    post:
      tags:
        - Ordem de armazengem
      summary: Vincular documento originário na ordem de armazenagem
      description: Vincula o documento originário na ordem de armazenagem
      operationId: postOrdemDocumentoOriginario
      requestBody:
        $ref: '#/components/requestBodies/PostOrdemDocumentoOriginario'
      responses:
        '200':
          description: Originário vinculado na ordem de armazenagem com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaRetornoCadastroRegistroOrdem'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example: Não encontrado processo para a URL
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
        '500':
          description: Conteúdo inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaRetornoErroCadastroRegistroOrdem'
  /armazem/ordem/importacaooriginario/cadastrar:
    post:
      tags:
        - Ordem de armazengem
      summary: Cadastrar importação de documento eletrônico
      description: Cadastrar importação de documento eletrônico
      operationId: postImportacaoEletronica
      requestBody:
        $ref: '#/components/requestBodies/PostOrdemDocumentoOriginario'
      responses:
        '200':
          description: Importação de documento eletrônico cadastrada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaRetornoCadastroImportacaoEletronica'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example: Não encontrado processo para a URL
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
        '500':
          description: Conteúdo inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaRetornoErroCadastroImportacaoEletronica'                              
 
 ## /armazem/ordem/solicitarCancelamento:
  ##  post:
    ##  tags:
   ##     - Ordem de armazengem
   ##   summary: Solicitar cancelamento da ordem de armazenagem
   ##   description: Solicita o cancelamento da ordem de armazenagem
   ##   operationId: postSolicitacaoCancelamentoOrdem
   ##   requestBody:
   ##     $ref: '#/components/requestBodies/PostSolicitarCancelamentoOrdem'
   ##   responses:
   ##     '200':
   ##       description: Solicitação de cancelamento cadastrado com sucesso
    ##      content:
   ##         application/json:
   ##           schema:
    ##            $ref: '#/components/schemas/ListaRetornoSolicitacaoCancelamento'
   ##     '400':
   ##       description: Parâmetro(s) inválido(s)
   ##     '401':
  ##        description: Não autorizado (Autenticação não informada ou inválida)
  ##      '500':
    ##      description: Conteúdo inválido
   ##       content:
   ##         application/json:
   ##           schema:
   ##             $ref: '#/components/schemas/ListaRetornoErroSolicitacaoCancelamento'

  /armazem/cargaDescarga/consultar:
    get:
      tags:
        - Ordem de armazengem
      summary: Consultar carga e descarga
      description: Retorna as informações das cargas/descargas filtradas
      operationId: getCargaDescarga
      parameters:
        - name: numero
          in: query
          description: Número da carga/descarga
          schema:
            type: integer
        - name: dataInicial
          in: query
          example: 06/12/1990 13:30
          description: Data de início (dd/mm/yyyy hh:mm)
          schema:
            type: string
        - name: dataFinal
          in: query
          example: 06/12/1990 13:30
          description: Data de término (dd/mm/yyyy hh:mm)
          schema:
            type: string
        - name: somentePendente
          in: query
          example: S
          description: Retorna apenas os registros pendentes
          schema:
            type: string
      responses:
        '200':
          description: Informações da carga/descarga
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetornoConsultaCargaDescarga'
        '400':
          description: Parâmetro(s) inválido(s)
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)                
  /fiscal/pessoa/cadastrar:
    post:
      tags:
        - Fiscal
      summary: Criar pessoa
      description: Cria uma pessoa com base nos dados informados
      operationId: postPessoa
      requestBody:
        $ref: '#/components/requestBodies/PostPessoa'
      responses:
        '200':
          description: Pessoa cadastrada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaRetornoCadastroRegistroPessoa'
        '400':
          description: Conteúdo inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example: Não encontrado processo para a URL
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
        '500':
          description: Conteúdo inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaRetornoErroCadastroRegistroPessoa'
  /materialSuprimento/produto/cadastrar:
    post:
      tags:
        - Produtos
      summary: Criar produto
      description: Cria um produto com base nos dados informados
      operationId: postProduto
      requestBody:
        $ref: '#/components/requestBodies/PostProduto'
      responses:
        '200':
          description: Produto cadastrado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaRetornoCadastroRegistroProduto'
        '400':
          description: Conteúdo inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example: Não encontrado processo para a URL
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
        '500':
          description: Conteúdo inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaRetornoErroCadastroRegistroProduto'
  /materialSuprimento/produto/consultar:
    get:
      tags:
        - Produtos
      summary: Consultar produto
      description: Retorna todas as informações do produto
      operationId: getProduto
      parameters:
        - name: codigoReferencia
          required: true
          in: query
          description: Código de referência do produto
          schema:
            type: string
      responses:
        '200':
          description: Informações do produto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetornoConsultaProduto'
        '400':
          description: Parâmetro(s) inválido(s)
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /materialSuprimento/produto/alterar:
    put:
      tags:
        - Produtos
      summary: Alterar produto
      description: Altera os dados do produto informado
      operationId: putProduto
      requestBody:
        $ref: '#/components/requestBodies/PutProduto'
      parameters:
        - name: codigoProduto
          required: true
          in: query
          description: Código de referência do produto
          schema:
            type: string
      responses:
        '200':
          description: Produto alterado com sucesso
        '400':
          description: Parâmetro(s) inválido(s)
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)
  /materialSuprimento/produto/cancelar:
    put:
      tags:
        - Produtos
      summary: Cancelar produto
      description: Cancela o produto informado
      operationId: deleteProduto
      requestBody:
        $ref: '#/components/requestBodies/DeleteProduto'
      parameters:
        - name: codigoProduto
          required: true
          in: query
          description: Código de referência do produto
          schema:
            type: string
      responses:
        '200':
          description: Produto cancelado com sucesso
        '400':
          description: Parâmetro(s) inválido(s)
        '401':
          description: Não autorizado (Autenticação não informada ou inválida)

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: >
        A autenticação inicial com as APIs REST da Escalasoft deve ser realizada
        por uma requisição GET utilizando Basic Auth, para a rota
        /Authorization.


        Para autenticar, devem ser informados os dados de usuário e senha
        fornecidos pelo cliente.


        Esta requisição irá retornar um token que deverá ser utilizado para
        autenticação nas demais rotas. 


        Este token tem uma validade de 24 horas, e após este intervalo deverá
        ser requisitado um novo token.
    BearerAuth:
      type: http
      scheme: bearer
      description: >
        A autenticação para executar qualquer endpoints das APIs REST da Escalasoft deve ser realizada por token 
        utilizando Bearer Token.


        Para autenticar, você deve utilizar o token recebido na rota de /Authorization e adicioná-lo no header da 
        requisição.


        O header de autenticação deve ser enviado para todos os endpoints disponíveis na API.
  schemas:

 #RETORNO DE SEGURANÇA\GERARTOKEN
    RetornoGerarToken:
      type: object
      properties:
        Retorno:
          type: array
          items:
            $ref: '#/components/schemas/RetornoGerarToken_Retorno'
    RetornoGerarToken_Retorno:
      properties:
        token:
          type: string
          description: Token que irá permitir o consumo da API webservice
          example: YYko8uSVoyF9tGtan+o75AponwE=

    Erro:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Descrição do erro
    RetornoCadastroRegistroSucesso:
      type: object
      required:
        - id
      properties:
        Mensagem:
          type: string
          description: Mensagem de sucesso
          example: Registro cadastrado com sucesso!
    RetornoCadastroRegistro:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          description: int32
          example: 468415   

    ListaRetornoCadastroRegistroAnexo:
      type: object
      properties:
        Lista:
          type: array
          items:
            $ref: '#/components/schemas/RetornoCadastroAnexo'    
    RetornoCadastroAnexo:
      type: object
      properties:
        Registro:
          type: integer
          description: identificador do registro
          example: 468415 
    RetornoDeleteAnexo:
      type: object
      properties:
        Mensagem:
          type: string
          description: identificador do registro
          example: O registro foi cancelado com sucesso!                     

    ListaRetornoCadastroRegistroOrdem:
      type: object
      properties:
        Lista:
          type: array
          items:
            $ref: '#/components/schemas/RetornoCadastroOrdem'
    ListaRetornoCadastroImportacaoEletronica:
      type: object
      properties:
        Lista:
          type: array
          items:
            $ref: '#/components/schemas/RetornoCadastroImportacaoEletronica'            
    ListaRetornoSolicitacaoCancelamento:
      type: object
      properties:
        Lista:
          type: array
          items:
            $ref: '#/components/schemas/RetornoSolicitacaoCancelamento'
    ListaRetornoCadastroRegistroPessoa:
      type: object
      properties:
        Lista:
          type: array
          items:
            $ref: '#/components/schemas/RetornoCadastroPessoa'
    ListaRetornoCadastroRegistroProduto:
      type: object
      properties:
        Lista:
          type: array
          items:
            $ref: '#/components/schemas/RetornoCadastroProduto'
    ListaRetornoErroCadastroRegistroOrdem:
      type: object
      properties:
        Lista:
          type: array
          items:
            $ref: '#/components/schemas/RetornoErroCadastroOrdem'
    ListaRetornoErroCadastroImportacaoEletronica:
      type: object
      properties:
        Lista:
          type: array
          items:
            $ref: '#/components/schemas/RetornoErroCadastroImportacaoEletronica'            
    ListaRetornoErroCadastroRegistroPessoa:
      type: object
      properties:
        Lista:
          type: array
          items:
            $ref: '#/components/schemas/RetornoErroCadastroPessoa'
    ListaRetornoErroCadastroRegistroProduto:
      type: object
      properties:
        Lista:
          type: array
          items:
            $ref: '#/components/schemas/RetornoErroCadastroProduto'
    ListaRetornoErroSolicitacaoCancelamento:
      type: object
      properties:
        Lista:
          type: array
          items:
            $ref: '#/components/schemas/RetornoErroSolicitacaoCancelamento'
    RetornoCadastroOrdem:
      type: object
      properties:
        Registro:
          type: integer
          description: identificador do registro
          example: 468415
        NumeroOrdem:
          type: integer
          description: número da ordem de armazenagem
          example: 468415
        NumeroPedido:
          type: string
          description: número do pedido
          example: NRPEDIDO123
        Documento:
          type: object
          properties:
            Numero:
              type: string
              example: 145878
            Serie:
              type: string
              example: 1
    RetornoCadastroImportacaoEletronica:
      type: object
      properties:
        Registro:
          type: integer
          description: identificador do registro
          example: 468415
        NumeroImportacao:
          type: integer
          description: número da importação de documento eletrônico
          example: 22234          
        NumeroOrdem:
          type: integer
          description: número da ordem de armazenagem
          example: 468415

    RetornoSolicitacaoCancelamento:
      type: object
      properties:
        Mensagem:
          type: string
          example: Registro cadastro com sucesso!
    RetornoCadastroPessoa:
      type: object
      properties:
        Registro:
          type: integer
          description: identificador do registro
          example: 468415
        Pessoa:
          type: string
          description: CNPJ/CPF da pessoa
          example: 99.999.999/0009-99
    RetornoCadastroProduto:
      type: object
      properties:
        Registro:
          type: integer
          description: identificador do registro
          example: 468415
        CodigoReferencia:
          type: string
          description: Código de referência do produto
          example: ASCD-12454
    RetornoErroCadastroOrdem:
      description: >-
        quando cadastrado mais de uma ordem ao mesmo tempo, caso ocorra erro em
        alguma, irá retornar uma lista contendo a informação do registro
        cadastrado ou a informação do erro
      type: object
      properties:
        Registro:
          type: integer
          description: identificador do registro
          example: 468415
        NumeroOrdem:
          type: integer
          description: número da ordem de armazenagem
          example: 468415
        NumeroPedido:
          type: string
          description: número do pedido
          example: NRPEDIDO123
        Documento:
          type: object
          description: documentação da ordem
          properties:
            Numero:
              type: string
              example: 145878
            Serie:
              type: string
              example: 1
        Erro:
          type: string
          description: descrição do erro para quando não conseguir cadastrar o registro
          example: >-
            Campo obrigatório não preenchido - O campo Tipo é  obrigatório.
            Preencha o campo para salvar o registro. Campo: TIPO
    RetornoErroCadastroImportacaoEletronica:
      description: >-
        quando cadastrado mais de uma importação eletrônica ao mesmo tempo, caso ocorra erro em
        alguma, irá retornar uma lista contendo a informação do registro
        cadastrado ou a informação do erro
      type: object
      properties:
        Registro:
          type: integer
          description: identificador do registro
          example: 468415
        NumeroImportacao:
          type: integer
          description: número da importação eletrônica
          example: 12312312
        NumeroOrdem:
          type: integer
          description: número da ordem de armazenagem
          example: 468415          
        Erro:
          type: string
          description: descrição do erro para quando não conseguir cadastrar o registro
          example: >-
            Campo obrigatório não preenchido - O campo Tipo é obrigatório.
            Preencha o campo para salvar o registro. Campo: TIPO            
    RetornoErroSolicitacaoCancelamento:
      type: object
      properties:
        Erro:
          type: string
          description: descrição do erro para quando não conseguir cadastrar o registro
          example: >-
            Campo obrigatório não preenchido - O campo Tipo é  obrigatório.
            Preencha o campo para salvar o registro. Campo: TIPO
    RetornoErroCadastroPessoa:
      description: >-
        quando cadastrado mais de uma ordem ao mesmo tempo, caso ocorra erro em
        alguma, irá retornar uma lista contendo a informação do registro
        cadastrado ou a informação do erro
      type: object
      properties:
        Registro:
          type: integer
          description: identificador do registro
          example: 468415
        Pessoa:
          type: string
          description: CPF/CNPJ da pessoa
          example: 99.999.999/0009-99
        Erro:
          type: string
          description: descrição do erro para quando não conseguir cadastrar o registro
          example: >-
            CNPJ já cadastrado  O CNPJ informado já foi utilizado para outra
            pessoa
    RetornoErroCadastroProduto:
      description: >-
        quando cadastrado mais de um produto ao mesmo tempo, caso ocorra erro em
        alguma, irá retornar uma lista contendo a informação do registro
        cadastrado ou a informação do erro
      type: object
      properties:
        Registro:
          type: integer
          description: identificador do registro
          example: 468415
        CodigoReferencia:
          type: string
          description: Código de referência do produto
          example: ASCD-12454
        Erro:
          type: string
          description: descrição do erro para quando não conseguir cadastrar o registro
          example: >-
            Código referência inválido. O código referência informado já foi
            utilizado para outro item.
    RetornoConsultaOrdem:
      $ref: '#/components/schemas/OrdemGet'
    RetornoConsultaEntradaEncerrada:
      $ref: '#/components/schemas/EntradaEncerradaGet'
    RetornoConsultaPedido:
      $ref: '#/components/schemas/PedidoGet'
    RetornoConsultaPedidoPendente:
      $ref: '#/components/schemas/PedidoPendenteGet'
    RetornoConsultaEtapaExecutada:
      $ref: '#/components/schemas/EtapaExecutadaGet'
    RetornoConsultaEstoqueMercadoria:
      $ref: '#/components/schemas/EstoqueMercadoriaGet'
    RetornoConsultaCargaDescarga:
      $ref: '#/components/schemas/CargaDescargaConsultaGet'              
    Lista:
      description: Listagem de ordens de armazenagem
      type: object
      properties:
        Ordem:
          type: array
          items:
            $ref: '#/components/schemas/OrdemPost'
    ListaItem:
      description: Listagem de itens da ordem de armazenagem
      type: object
      properties:
        Item:
          type: array
          items:
            $ref: '#/components/schemas/ItemPost'
    ListaItemLote:
      description: Listagem de itens lote da ordem de armazenagem
      type: object
      properties:
        Lote:
          type: array
          items:
            $ref: '#/components/schemas/ItemLotePost'
    ListaProgramacao:
      description: Listagem de programações da ordem de armazenagem
      type: object
      properties:
        Programacao:
          type: array
          items:
            $ref: '#/components/schemas/ProgramacaoPost'
    ListaOrdemDocumentoOriginario:
      description: Listagem de ordens que serão vinculadas a um originário
      type: object
      properties:
        Ordem:
          type: array
          items:
            $ref: '#/components/schemas/OrdemDocumentoOriginarioPost'
    AtrelarOrdemArmazenagem:
      description: Atrela a ordem com outra ordem de armazenagem
      type: object
      properties:
        TipoAtrelamento:
          description: Conforme tabela de tipos de atrelamento
          type: integer
        OrdemAtrelada:
          description: Número da ordem a ser atrelada
          type: integer
        Observacao:
          description: Observação
          type: string
          example: Observação do atrelamento das ordens
    SolicitarCancelamento:
      description: Solicitar cancelamento da ordem de armazenagem
      type: object
      properties:
        Tipo:
          description: Conforme tabela de tipos de ocorrência
          type: integer
        Data:
          description: Data do cancelamento (dd/mm/yyyy hh:mm)
          type: string
          example: 06/12/1990 13:30
        Motivo:
          description: Motivo do cancelamento
          type: string
          example: Motivo do cancelamento
    ListaCadastrarAnexoOrdemArmazenagem:
      description: Cadastrar anexo da ordem de armazenagem
      type: object
      properties:
        Anexo:
          type: array
          items:
            $ref: '#/components/schemas/AnexoOrdemArmazenagemPost'
    RemoverAnexoOrdemArmazenagem:
      description: Remover anexo da ordem de armazenagem
      type: object
      properties:
        Motivo:
          description: Motivo da exclusão
          type: string
          example: Motivo do exclusão
    TipoDocumentoPost:
      type: object
      properties:
        TipoDocumento:
          type: integer
          description: |
            Tipo do documento

            1 - CT-e<br>
            2 - NF-e<br>
            3 - CTRC<br>
            4 - NF<br>
            5 - ACT<br>
            6 - Outros<br>
            7 - MDF-e
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
    TipoDocumentoGet:
      type: object
      properties:
        TipoDocumento:
          type: string
          description: Descrição do tipo do documento
    CamposDocumentoPadrao:
      type: object
      properties:
        Emissao:
          description: Data de emissão do documento (dd/mm/yyyy)
          type: string
          example: 06/12/1990
        Numero:
          description: Número do documento
          type: string
          example: '12345'
        Serie:
          description: Serie do documento
          type: string
          example: '1'
        Valor:
          description: Valor do documento
          type: number
          multipleOf: 0.01
          example: 1000.5
    DocumentoPost:
      allOf:
        - $ref: '#/components/schemas/TipoDocumentoPost'
        - $ref: '#/components/schemas/CamposDocumentoPadrao'
        - properties:
            ChaveDocumentoEletronico:
              description: Chave do documento eletrônico
              type: string
              example: '24130401211699999126550010001026811138186206'
    DocumentoGet:
      allOf:
        - $ref: '#/components/schemas/TipoDocumentoGet'
        - $ref: '#/components/schemas/CamposDocumentoPadrao'
        - properties:
            Volume:
              type: integer
              description: Volume
    ProdutoPost:
      type: object
      properties:
        Produto:
          description: >-
            Código de referência do produto (registro deve estar cadastrado na
            base)
          type: string
    ProdutoGet:
      type: object
      properties:
        Produto:
          description: Descrição do produto
          type: string
        Situacao:
          type: string
          description: Situação do registro
          example: Cadastrada(o)
        Sequencial:
          type: integer
          description: Sequencial

    CamposItemOrdemPadrao:
      type: object
      description: Dados do lote de entrada
      required:
        - Produto
      properties:
        Quantidade:
          description: Quantidade
          type: number
          multipleOf: 0.0001
          example: 10
        ValorUnitario:
          description: Valor unitário
          type: number
          multipleOf: 1.e-10
          example: 1.5
        ValorTotal:
          description: Valor total
          type: number
          multipleOf: 0.01
          example: 10
        PesoLiquido:
          description: Peso Líquido
          type: number
          multipleOf: 0.0001
          example: 10
        PesoBruto:
          description: Peso Bruto
          type: number
          multipleOf: 0.0001
          example: 10
        Estoque:
          description: Estoque
          type: number
          multipleOf: 0.0001
          example: 10
        Volume:
          description: Volume
          type: integer
          example: 10
        Observacao:
          description: Observação do item
          type: string
          example: Observação do item x
    ItemPadraoPost:
      type: object
      description: Dados do item de entrada
      required:
        - Item
      allOf:
        - $ref: '#/components/schemas/ProdutoPost'
        - properties:
            Quantidade:
              description: Quantidade
              type: number
              multipleOf: 0.0001
              example: 10
            ValorUnitario:
              description: Valor Unitário
              type: number
              multipleOf: 1.e-10
              example: 1.5
            PesoLiquido:
              description: Peso Líquido (para quando o produto tiver peso variável)
              type: number
              multipleOf: 0.0001
              example: 10
            PesoBruto:
              description: Peso Bruto (para quando o produto tiver peso variável)
              type: number
              multipleOf: 0.0001
              example: 10
            Volume:
              description: >-
                Quantidade de volume (para quando o produto tiver quantidade de
                volume variável)
              type: integer
              example: 10
            Observacao:
              description: Observação do item
              type: string
              example: Observação do item x
            SequencialPedido:
              description: Sequencial do produto no pedido
              type: integer
              example: 1
    ItemPadraoGet:
      type: object
      description: Dados do item de entrada
      required:
        - Item
      allOf:
        - $ref: '#/components/schemas/ProdutoGet'
        - $ref: '#/components/schemas/CamposItemOrdemPadrao'
    ItemEntradaEncerradaGet:
      allOf:
        - properties:
            CodigoReferencia:
              type: string
              description: Código de referência do produto
            Descricao:
              type: string
              description: Nome do produto                      
            Quantidade:
              description: Quantidade
              type: number
              multipleOf: 0.0001
              example: 10
            UnidadeMedida:
              type: string
              description: Sigla da unidade de medida
            SequencialPedido:
              description: Sequencial do item no pedido
              type: integer
        - properties:
            Lote:
              type: array
              items:
                $ref: '#/components/schemas/LoteEntradaEncerradaGet'
    ItemPost:
      allOf:
        - $ref: '#/components/schemas/ItemPadraoPost'
        - properties:
            Lote:
              type: array
              items:
                $ref: '#/components/schemas/ItemLotePost'
    ItemGet:
      allOf:

        - $ref: '#/components/schemas/ItemPadraoGet'
        - properties:
            UnidadeMedida:
              type: string
              description: Sigla da unidade de medida
            UnidadeVolume:
              type: string
              description: Sigla da unidade de volume
            UnidadeEstoque:
              type: string
              description: Sigla da unidade de estoque
            NumeroDocumento:
              type: string
              description: Número do documento
            SequencialPedido:
              description: Sequencial do produto no pedido
              type: integer
            Lote:
              type: array
              items:
                $ref: '#/components/schemas/ItemLoteEntradaGet'
    NaturezaFiscalPost:
      type: object
      properties:
        NaturezaFiscal:
          description: |
            ID da natureza fiscal 

            1 - Compra<br>
            2  - Venda<br>
            3  - Transferência<br>
            4  - Devolução<br>
            5  - Retorno<br>
            6  - Entrada
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
    NaturezaFiscalGet:
      type: object
      properties:
        NaturezaFiscal:
          type: string
          description: Descrição da natureza fiscal
    CamposBooleanosOrdem:
      type: object
      properties:
        NaoFaturar:
          description: Indica que a ordem não será considerada no cálculo do faturamento
          type: string
          example: 'N'
        SemServico:
          description: >-
            Indica que a ordem pode ser encerrada sem que hajam serviços
            vinculados
          type: string
          example: S
        SemServicoAutomatico:
          description: >-
            Indica que a ordem não terá serviços vinculados automaticamente ao
            calcular o faturamento
          type: string
          example: 'N'
        ApontamentoTerceiroObrigatorio:
          description: >-
            Indica que a ordem deve ter apontamentos de terceiro vinculados para
            que possa ser encerrada
          type: string
          example: 'N'

    CamposPadraoOrdem:
      type: object
      properties:
        Observacao:
          description: Observação
          type: string
          example: Observação da ordem de armazenagem
        Solicitacao:
          description: Data de solicitação (dd/mm/yyyy hh:mm)
          type: string
          example: 06/12/1990 13:30
        Previsao:
          description: Data de previsão (dd/mm/yyyy hh:mm)
          type: string
          example: 06/12/1990 13:30
        Data:
          description: Data da ordem (dd/mm/yyyy hh:mm:ss:zzzz)
          type: string
          example: 06/12/1990 13:30:00:0000
        NumeroPedido:
          description: Número do pedido
          type: string
          example: PED123784
        NumeroControle:
          description: Número de controle
          type: string
          example: CONTR648425

    CamposPadraoOrdemPost:
      type: object
      properties:
        Filial:
          description: CNPJ da filial sem máscara
          type: integer
          example: 99999999999999
        Tipo:
          description: Conforme tabela de tipos de ordem a ser fornecida pelo cliente
          type: integer
        Cliente:
          description: CNPJ do cliente sem máscara (pessoa deve estar cadastrada na base)
          type: integer
          example: 99999999999999
        NaturezaOperacao:
          description: >-
            Conforme tabela de naturezas de operação a ser fornecida pelo
            cliente
          type: integer
        Solicitante:
          description: ID do solicitante (pessoa cadastrada na base)
          type: integer
        Deposito:
          description: Conforme tabela de depósitos a ser fornecida pelo cliente
          type: integer
        Projeto:
          description: Conforme tabela de projetos a ser fornecida pelo cliente
          type: string
          example: Projeto
        UnidadeNegocioCliente:
          description: Conforme tabela de unidades de negócio a ser fornecida pelo cliente
          type: integer
    CamposPadraoOrdemGet:
      type: object
      properties:
        Situacao:
          type: string
          description: Situação do registro
          example: Cadastrada(o)
        Filial:
          description: Descrição da filial
          type: string
        Tipo:
          description: Descrição tipo da ordem
          type: string
        Cliente:
          description: Descrição do cliente
          type: string
        ClienteFaturamento:
          description: Descrição do cliente de faturamento
          type: string
        NaturezaOperacao:
          description: Descrição da natureza de operação
          type: string
        Solicitante:
          description: Descrição do solicitante
          type: string
        Deposito:
          description: Descrição do depósito
          type: string
        Projeto:
          description: Descrição do projeto
          type: string
        UnidadeNegocioCliente:
          description: Descrição da unidade de negócio do cliente
          type: string
    OrdemPost:
      allOf:
        - $ref: '#/components/schemas/CamposPadraoOrdemPost'
        - $ref: '#/components/schemas/CamposPadraoOrdem'
        - description: Ordem de armazenagem
          type: object
          required:
            - Filial
            - Tipo
            - Cliente
            - ClienteFaturamento
            - Solicitacao
            - NumeroPedido
            - Data
          properties:
            Documento:
              $ref: '#/components/schemas/DocumentoPost'
            Entrada:
              $ref: '#/components/schemas/EntradaPost'
            Saida:
              $ref: '#/components/schemas/SaidaPost'
        - $ref: '#/components/schemas/InformacaoComplementarPost'
    OrdemGet:
      allOf:
        - $ref: '#/components/schemas/CamposPadraoOrdemGet'
        - $ref: '#/components/schemas/CamposPadraoOrdem'
        - $ref: '#/components/schemas/CamposBooleanosOrdem'
        - $ref: '#/components/schemas/NaturezaFiscalGet'
        - description: Ordem de armazenagem
          type: object
          required:
            - Situacao
            - Filial
            - Tipo
            - Cliente
            - ClienteFaturamento
            - Solicitacao
            - Data
          properties:
            Documento:
              $ref: '#/components/schemas/DocumentoGet'
            Entrada:
              $ref: '#/components/schemas/EntradaGet'
            Saida:
              $ref: '#/components/schemas/SaidaGet'
            CargaDescarga:
              $ref: '#/components/schemas/CargaDescargaGet'
            Anexo:
              $ref: '#/components/schemas/AnexoGet'
    EntradaEncerradaGet:
      type: object
      properties:
        Ordem:
          description: Entradas encerradas
          type: array
          items:
            $ref: '#/components/schemas/CamposEntradaEncerradaGet'
    PedidoGet:
      type: object
      properties:
        Situacao:
          type: string
          description: Situação do registro
          example: Cadastrada(o)
        Saida:
          $ref: '#/components/schemas/PedidoSaidaGet'
    EntradaPadraoPost:
      type: object
      properties:
        LocalColeta:
          description: ID do local de coleta (pessoa cadastrada na base)
          type: integer
        Recebimento:
          $ref: '#/components/schemas/RecebimentoPost'
    EntradaPadraoGet:
      type: object
      properties:
        LocalColeta:
          description: Descrição do local de coleta
          type: integer
        EnderecoLocalColeta:
          description: Descrição do endereço do local de coleta
          type: integer
        ChaveDocumentoEletronico:
          description: Chave do documento eletrônico
          type: string
          example: '24130401211699999126550010001026811138186206'
    EntradaPost:
      title: Entrada de mercadoria
      description: Somente informar estes dados quando for uma entrada de mercadoria
      allOf:
        - $ref: '#/components/schemas/EntradaPadraoPost'
        - properties:
            Item:
              type: array
              items:
                $ref: '#/components/schemas/ItemPost'
    EntradaGet:
      title: Entrada de mercadoria
      description: Somente informado quando for uma entrada de mercadoria
      allOf:
        - $ref: '#/components/schemas/EntradaPadraoGet'
        - properties:
            Item:
              type: array
              items:
                $ref: '#/components/schemas/ItemGet'
    DadosLotePadrao:
      type: object
      properties:
        Lote:
          description: Lote
          type: string
          example: '546249967'
        Fabricacao:
          description: Data de fabricação (dd/mm/yyyy)
          type: string
          example: 06/12/1990
        Validade:
          description: Data de validade (dd/mm/yyyy)
          type: string
          example: 06/12/1990
          
    DadosEtapaPadrao:
      type: object
      properties:
        Registro:
          description: Id da etapa
          type: integer
          example: 91333
        Nome:
          description: Descrição da etapa
          type: string
        Inicio:
          description: Inicio da execução da etapa (dd/mm/yyyy hh:mm)
          type: string
          example: 06/12/1990 13:30
        Termino:
          description: Término da execução da etapa (dd/mm/yyyy hh:mm)
          type: string
          example: 06/12/1990 13:30
        NumeroOrdem:
          description: Número da ordem
          type: integer
        NumeroPedido:
          description: Número do pedido
          type: string
    ValoresLotePadrao:
      type: object
      properties:
        Quantidade:
          description: Quantidade
          type: number
          multipleOf: 0.0001
          example: 10
        Estoque:
          description: Estoque
          type: number
          multipleOf: 0.0001
          example: 10
        PesoLiquido:
          description: Peso Líquido
          type: number
          multipleOf: 0.0001
          example: 10
        PesoBruto:
          description: Peso Bruto
          type: number
          multipleOf: 0.0001
          example: 10
        Valor:
          description: Valor
          type: number
          multipleOf: 0.01
          example: 10
        Volume:
          description: Volume
          type: integer
          example: 10
    LoteEntradaEncerradaGet:
      type: object
      description: Dados do lote de entrada
      allOf:
        - $ref: '#/components/schemas/DadosLotePadrao'
        - properties:
            Quantidade:
              description: Quantidade
              type: number
              multipleOf: 0.0001
              example: 10
            UnidadeMedida:
              type: string
              description: Sigla da unidade de medida
            Pack:
              type: array
              items:
                $ref: '#/components/schemas/PackEntradaEncerradaGet'
    PackEntradaEncerradaGet:
      type: object
      description: Seriais do pack recebido
      properties:
        NumeroSerie:
          type: string
          description: Número de série
    ItemEtapaEmbalagemGet:
      type: object
      description: Itens da embalagem
      properties:
        SequencialPedido:
          description: Sequencial do item no pedido
          type: integer
        CodigoReferencia:
          description: Codigo de referência do produto
          type: string
        Descricao:
          description: Descrição do produto
          type: string
        Quantidade:
          description: Quantidade
          type: number
          multipleOf: 0.0001
          example: 10
        ValorTotal:
          description: Valor total
          type: number
          multipleOf: 0.01
          example: 10
        PesoLiquido:
          description: Peso Líquido
          type: number
          multipleOf: 0.0001
          example: 10
        PesoBruto:
          description: Peso Bruto
          type: number
          multipleOf: 0.0001
          example: 10
        QuantidadeVolume:
          description: Quantidade Volume
          type: integer
          example: 10
        Serial:
          type: array
          items:
            $ref: '#/components/schemas/PackEntradaEncerradaGet'
    ItemLotePost:
      type: object
      description: Dados do lote de entrada
      allOf:
        - properties:
            NumeroDescarga:
              description: ID do número da descarga
              type: integer
        - $ref: '#/components/schemas/DadosLotePadrao'
        - properties:
            ReferenciaLote:
              description: ID de referência do lote
              type: integer
            Fornecedor:
              description: ID do fornecedor da mercadoria (pessoa cadastrada na base)
              type: integer
            Fabricante:
              description: ID do fabricante da mercadoria (pessoa cadastrada na base)
              type: integer
            ClassificacaoEstoque:
              description: ID da classificação de estoque
              type: integer
        - $ref: '#/components/schemas/ValoresLotePadrao'
    ItemLoteGet:
      type: object
      description: Dados do lote de entrada
      allOf:
        - properties:
            Situacao:
              type: string
              description: Situação do registro
              example: Cadastrada(o)
            NumeroDescarga:
              description: Número da descarga
              type: integer
        - $ref: '#/components/schemas/DadosLotePadrao'
        - properties:
            InicioCobranca:
              description: Início de cobrança da mercadoria no estoque (dd/mm/yyyy)
              type: string
              example: 06/12/1990
            ReferenciaLote:
              description: Descrição da referência do lote
              type: string
            Fornecedor:
              description: Descrição do fornecedor da mercadoria
              type: string
            Fabricante:
              description: Descrição do fabricante da mercadoria
              type: string            
        - $ref: '#/components/schemas/ValoresLotePadrao'
        - properties:
            Sequencial:
              type: integer
              description: Sequencial
            UnidadeMedida:
              type: string
              description: Sigla da unidade de medida
            UnidadeVolume:
              type: string
              description: Sigla da unidade de volume
            UnidadeEstoque:
              type: string
              description: Sigla da unidade de estoque
            Protocolo:
              type: integer
              description: Protocolo
    ItemInfoComplementarPost:
      description: Informação complementar
      type: object
      required:
        - Tipo
      properties:
        Tipo:
          description: >-
            Descrição do tipo da informação complementar (deve estar cadastrado
            na base do cliente)
          type: string
        Conteudo:
          description: >-
            Conteúdo do campo para quando o tipo da informação complementar for
            texto
          type: string
        Valor:
          description: >-
            Valor do campo para quando o tipo da informação complementar for
            numérico
          type: number
    ProgramacaoPost:
      description: Programação de saída de mercadoria
      type: object
      required:
        - Produto
        - UnidadeMedida
      properties:
        Produto:
          description: >-
            Código de referência do produto (deve estar cadastrado na base do
            cliente)
          type: string
        UnidadeMedida:
          description: >-
            Sigla da unidade de medida (deve estar cadastrada na base do
            cliente)
          type: string
          example: UN
        Quantidade:
          description: Quantidade
          type: number
          multipleOf: 0.0001
          example: 5
        SequencialPedido:
          description: Sequencial do produto no pedido
          type: integer
          example: 1
        PercentualTolerancia:
          description: >-
            Percentual de tolerância para ajuste automático da quantidade
            programada
          type: number
          multipleOf: 0.01
          example: 5
        Observacao:
          description: Observação
          type: string
          example: Observação da programação x
        Filtro:
          $ref: '#/components/schemas/FiltroProgramacaoPost'
        Anexo:
          $ref: '#/components/schemas/AnexoOrdemArmazenagemPost'
    ProgramacaoGet:
      allOf:

        - $ref: '#/components/schemas/ProgramacaoPadraoGet'
        - properties:
            Picking:
              type: array
              items:
                $ref: '#/components/schemas/PickingGet'
            Item:
              type: array
              items:
                $ref: '#/components/schemas/ItemProgramacaoGet'
    ReservaEstoqueGet:
      description: Lotes/seriais reservados pela programação
      type: object
      properties:
        Lote:
          description: Lote reservado
          type: string
        Quantidade:
          description: Quantidade
          type: number
          multipleOf: 0.0001
          example: 5
        Valor:
          description: Valor
          type: number
          multipleOf: 0.0001
          example: 5
        PesoLiquido:
          description: Peso líquido
          type: number
          multipleOf: 0.0001
          example: 5
        PesoBruto:
          description: Peso bruto
          type: number
          multipleOf: 0.0001
          example: 5
        PermiteTrocarReserva:
          description: >-
            Indica se o item reservado poderá ser substituído por outro no
            momento da confirmação
          type: string
          example: 'N'
    SeparacaoGet:
      type: object
      description: Itens separados
      allOf:
        - properties:
            Situacao:
              type: string
              description: Situação do registro
              example: Cadastrada(o)
        - $ref: '#/components/schemas/DadosLotePadrao'
        - properties:
            NumeroDescarga:
              description: Número da descarga
              type: integer
            Sequencial:
              type: integer
              description: Sequencial
            Unitizacao:
              description: Unitização separada
              type: integer
            Deposito:
              description: Depósito em que a mercadoria foi separada
              type: string
            Endereco:
              description: Endereço em que a mercadoria foi separada
              type: string
            Volume:
              description: Unitização de volume separado
              type: integer
            ClassificacaoEstoque:
              description: Descrição da classificação de estoque
              type: string
            Item:
              description: Descrição do produto separado
              type: string
            SeparadoPor:
              description: Descrição do usuário que efetuou a separação
              type: string
            ReservadoEm:
              description: >-
                Data/hora que a mercadoria foi reservada no estoque (dd/mm/yyyy
                hh:mm)
              type: string
              example: 06/12/1990 13:30
            SeparadoEm:
              description: >-
                Data/hora que foi confirmada a separação da mercadoria no
                estoque (dd/mm/yyyy hh:mm)
              type: string
              example: 06/12/1990 13:30
            Quantidade:
              description: Quantidade
              type: number
              multipleOf: 0.0001
              example: 5
            PesoBruto:
              description: Peso bruto
              type: number
              multipleOf: 0.0001
              example: 5
            PesoLiquido:
              description: Peso Líquido
              type: number
              multipleOf: 0.0001
              example: 5
            QuantidadeVolume:
              description: Quantidade de volumes
              type: integer
            Devolvido:
              description: Quantidade para qual já foi gerado o documento de devolução
              type: number
              multipleOf: 0.0001
              example: 5
            Reenderecado:
              description: Quantidade reendereçada
              type: number
              multipleOf: 0.0001
              example: 5
            Expedido:
              description: Quantidade expedida
              type: number
              multipleOf: 0.0001
              example: 5
            SaldoExpedir:
              description: Quantidade ainda não expedida
              type: number
              multipleOf: 0.0001
              example: 5
            Serial:
              type: array
              items:
                $ref: '#/components/schemas/SerialGet'
            Expedicao:
              type: array
              items:
                $ref: '#/components/schemas/ExpedicaoGet'
            Embalagem:
              type: array
              items:
                $ref: '#/components/schemas/EmbalagemGet'
    SerialGet:
      description: Expedição da separaçao
      type: object
      properties:
        NumeroSerie:
          description: Número de série separado
          type: string
          example: S4DD4S6DA4
    ExpedicaoGet:
      description: Expedição da separação
      type: object
      properties:
        Situacao:
          description: Situação do registro
          type: string
          example: Cadastrada
        Separação:
          description: Sequencial da separação
          type: integer
        Sequencial:
          description: Sequencial da expedição
          type: integer
        Endereco:
          description: Endereço em que a mercadoria foi expedida
          type: string
        Unitizacao:
          description: Unitização expedida
          type: integer
        Volume:
          description: Unitização de volume expedida
          type: integer
        EmbaladoPor:
          description: Descrição do usuário que embalou o item da expedição
          type: string
        EmbaladoEm:
          description: Data/hora que o item da expedição foi embalado (dd/mm/yyyy hh:mm)
          type: string
          example: 06/12/1990 13:30
        ReferenciaEmbalagem:
          description: Referência da embalagem
          type: string
        Quantidade:
          description: Quantidade
          type: number
          multipleOf: 0.0001
          example: 5
        PesoBruto:
          description: Peso bruto
          type: number
          multipleOf: 0.0001
          example: 5
        PesoLiquido:
          description: Peso Líquido
          type: number
          multipleOf: 0.0001
          example: 5
        QuantidadeVolume:
          description: Quantidade de volumes
          type: integer
    EmbalagemGet:
      description: Embalagem da separação
      type: object
      properties:
        Situacao:
          description: Situação do registro
          type: string
          example: Cadastrada
        Filial:
          description: Descrição da filial
          type: string
        Norma:
          description: Norma de embalagem
          type: string
        Tipo:
          description: Tipo da embalagem
          type: string
        Quantidade:
          description: Quantidade
          type: number
          multipleOf: 0.0001
          example: 5
        PesoLiquido:
          description: Peso Líquido
          type: number
          multipleOf: 0.0001
          example: 5
        PesoBruto:
          description: Peso bruto
          type: number
          multipleOf: 0.0001
          example: 5
        PesoReal:
          description: Peso real
          type: number
          multipleOf: 0.0001
          example: 5
        CubagemVolume:
          description: Cubagem do volume
          type: number
          multipleOf: 0.0001
          example: 5
        CapacidadeM3:
          description: Capacidade da embalagem em M3
          type: number
          multipleOf: 0.0001
          example: 5
        Numero:
          description: Número da embalagem
          type: integer
        Volumes:
          description: Quantidade de volumes na embalagem
          type: integer
        Ordem:
          description: Número da ordem em que a embalagem está vinculada
          type: integer
        Unitizacao:
          description: Unitização embalada
          type: integer
        Volume:
          description: Unitização de volume embalada
          type: integer
        EmbalagemMaster:
          description: Número da embalagem master
          type: integer
        Cliente:
          description: Nome do ciente
          type: string
        ClienteFinal:
          description: >-
            Nome do cliente final (para quando a pessoa for cadastrada no
            sistema)
          type: string
        Deposito:
          description: Depósito da embalagem
          type: string
        Endereco:
          description: Endereço da embalagem
          type: string
        MunicipioClienteFinal:
          description: Município do cliente final
          type: string
        UF:
          description: UF do município do cliente final
          type: string
        Referencia:
          description: Referencia da embalagem
          type: string
        CodigoRastreamento:
          description: Código de rastramento da embalagem
          type: string
        NomeClienteFinal:
          description: >-
            Nome do cliente final (para quando a pessoa não for cadastrada no
            sistema)
          type: string
    LoteSeparacaoGet:
      type: object
      description: Lotes/seriais separados
      allOf:
        - properties:
            Situacao:
              type: string
              description: Situação do registro
              example: Cadastrada(o)
            NumeroSerie:
              type: string
              description: Número de série
              example: XSDAFFRD4123
        - $ref: '#/components/schemas/DadosLotePadrao'
        - properties:
            Quantidade:
              description: Quantidade
              type: number
              multipleOf: 0.0001
              example: 5
    PedidoLoteSeparacaoGet:
      type: object
      description: Lotes/seriais separados
      allOf:
        - properties:
            NumeroSerie:
              type: string
              description: Número de série
              example: XSDAFFRD4123
        - $ref: '#/components/schemas/DadosLotePadrao'
    PickingGet:
      description: Picking da programação
      type: object
      properties:
        Situacao:
          description: Situação do registro
          type: string
          example: Cadastrada
        Deposito:
          description: Sigla do depósito
          type: string
        TipoAreaInterna:
          description: Tipo de área
          type: string
        Produto:
          description: Descrição do produto
          type: string
        UnidadeMedida:
          description: Sigla da unidade de medida
          type: string
        Quantidade:
          description: Quantidade
          type: number
          multipleOf: 0.0001
          example: 5
        Saldo:
          description: Saldo
          type: number
          multipleOf: 0.0001
          example: 5
        Sequencial:
          description: Sequencial do registro
          type: integer
        Endereco:
          description: Descrição do endereço
          type: string
        Fabricacao:
          description: Data de fabricação (dd/mm/yyyy)
          type: string
          example: 06/12/1990
        Validade:
          description: Data de validade (dd/mm/yyyy)
          type: string
          example: 06/12/1990
        NumeroPedido:
          description: Número do pedido
          type: string
          example: '546249967'
        Lote:
          description: Lote
          type: string
          example: '546249967'
    ItemProgramacaoGet:
      description: Itens da programação
      type: object
      properties:
        Situação:
          description: Situação do registro
          type: string
        Produto:
          description: Código de referência e nome do produto
          type: string          
        UnidadeMedida:
          description: Sigla da unidade de medida
          type: string
        UnidadeVolume:
          description: Sigla da unidade de volume
          type: string
        UnidadeEstoque:
          description: Sigla da unidade de estoque
          type: string
        NumeroDocumento:
          type: integer
          description: Número do documento
        Quantidade:
          description: Quantidade
          type: number
          multipleOf: 0.0001
          example: 5
        ValorUnitario:
          description: Valor unitário
          type: number
          multipleOf: 0.0001
          example: 5
        ValorTotal:
          description: Valor total
          type: number
          multipleOf: 0.01
          example: 5
        PesoLiquido:
          description: Peso Líquido
          type: number
          multipleOf: 0.0001
          example: 5
        PesoBruto:
          description: Peso bruto
          type: number
          multipleOf: 0.0001
          example: 5
        Estoque:
          description: Estoque
          type: number
          multipleOf: 0.0001
          example: 5
        Sequencial:
          description: Sequencial do registro
          type: integer
        Volume:
          description: Quantidade de volumes
          type: integer
        Observacao:
          description: Observação
          type: string
        Lote:
          type: array
          items:
            $ref: '#/components/schemas/ItemLoteProgramacaoGet'
    ServicoItemLoteGet:
      type: object
      description: Dados de serviço do lote
      properties:
        Situacao:
          description: Situação doserviço
          type: string     
          example: Encerrado
        Servico:
          description: Descrição do serviço
          type: string
        Unidade:
          description: Sigla da unidade de medida
          type: string
        Quantidade:
          description: Quantidade
          type: number
          multipleOf: 0.0001
          example: 10
        Sequencial:
          description: Sequencial do registro
          type: integer
        Responsavel:
          description: Responsável pelo serviço
          type: string
        Observacao:
          description: Observação
          type: string
        Data:
          description: Data (dd/mm/yyyy)
          type: string
        Inicio:
          description: Hora de início (hh:mm)
          type: string
        Fim:
          description: Hora final (hh:mm)
          type: string
        Horas:
          description: Total de horas
          type: number
          multipleOf: 0.01
          example: 10
        Turno:
          description: Turno
          type: integer
        Deposito:
          description: Sigla do depósito
          type: string
        PeriodoExecucao:
          description: Descrição do período de execução
          type: string
        NaturezaMercadoria:
          description: Natureza da mercadoria
          type: string
        GrupoArmazenagem:
          description: Grupo de armazenagem
          type: string
        Parametro:
          type: object
          properties:
            NaoCobrarCliente:
              description: Indica que o serviço não será cobrado do cliente
              type: string
              example: S
            ExibirTodosServicos:
              description: Indica que todos os serviços serão exibidos para consulta
              type: string
              example: 'N'
            GeradoPeloFaturamento:
              description: Indica que o serviço foi gerado pelo cálculo de faturamento
              type: string
              example: 'N'
        TabelaPreco:
          type: object
          properties:
            Tabela:
              description: Descrição da tabela de preço
              type: string
            Lista:
              description: Descrição da lista de preço
              type: string
            Faturado:
              description: Indica se o registro já foi faturado ou não
              type: string
              example: 'N'
            Quantidade:
              description: Quantidade
              type: number
              multipleOf: 0.0001
              example: 10
            ValorUnitario:
              description: Valor
              type: number
              multipleOf: 0.0001
              example: 10
            ValorTotal:
              description: Valor
              type: number
              multipleOf: 0.01
              example: 10
    UnitizacaoGet:
      type: object
      description: Dados de unitização do lote
      properties:
        Situacao:
          description: Situação do unitizador
          type: integer
          example: Encerrado
        UnitizadoPor:
          description: Nome do usuário que efetuou a confirmação da unitização
          type: string
        UnitizadoEm:
          description: >-
            Data/hora em que foi feita confirmação da unitização (dd/mm/yyyy
            hh:mm)
          type: string
          example: 06/12/1990 13:30
        Sequencial:
          description: Sequencial do registro
          type: integer
        TipoCarga:
          description: Tipo da carga no unitizador
          type: string
        TipoUnitizador:
          description: Tipo do unitizador
          type: string
        NormaUnitizacao:
          description: Norma de unitização
          type: string
        UnitizacaoOrdem:
          description: Vinculo com a unitização da ordem
          type: integer
        Unitizacao:
          description: Unitização
          type: integer
        Deposito:
          description: Depósito em que a mercadoria foi recebida
          type: string
        Endereco:
          description: Endereço em que a mercadoria foi recebida
          type: string
        GrupoEtiquetagem:
          description: Grupo de etiquetagem do recebimento
          type: string
        Volume:
          description: Volume
          type: integer
        UnidadeEstoque:
          description: Sigla da unidade de estoque
          type: string
        UnidadeVolume:
          description: Sigla da unidade de volume
          type: string
        ReferenciaUnitizador:
          description: Referência do unitizador
          type: string
        Quantidade:
          description: Quantidade
          type: number
          multipleOf: 0.0001
          example: 10
        PesoLiquido:
          description: Peso Líquido
          type: number
          multipleOf: 0.0001
          example: 10
        PesoBruto:
          description: Peso Bruto
          type: number
          multipleOf: 0.0001
          example: 10
        Valor:
          description: Valor
          type: number
          multipleOf: 0.01
          example: 10
        QuantidadeVolume:
          description: Quantidade de volume na Unitização
          type: integer
    OcorrenciaGet:
      type: object
      description: Dados de ocorrência do lote
      properties:
        Situação:
          description: Situação do registro
          type: string
        Tipo:
          description: Tipo da ocorrência
          type: string
        Deposito:
          description: Sigla do depósito
          type: string
        Responsavel:
          description: Responsável pela ocorrência
          type: string
        Data:
          description: Data da ocorrência (dd/mm/aaaa)
          type: string
        Numero:
          description: Número
          type: integer
        Conferente:
          description: Nome do conferente
          type: string
        UnidadeEstoque:
          description: Sigla da unidade de estoque
          type: string
        UnidadeVolume:
          description: Sigla da unidade de volume
          type: string
        Observacao:
          description: Observação da ocorrência
          type: string
        Quantidade:
          description: Quantidade
          type: number
          multipleOf: 0.0001
          example: 10
        PesoLiquido:
          description: Peso Líquido
          type: number
          multipleOf: 0.0001
          example: 10
        PesoBruto:
          description: Peso Bruto
          type: number
          multipleOf: 0.0001
          example: 10
        Valor:
          description: Valor
          type: number
          multipleOf: 0.01
          example: 10
        Volume:
          description: Quantidade de volumes
          type: integer
    ChecklistGet:
      type: object
      description: Ckecklist do lote
      properties:
        Item:
          description: Descrição do item de análise
          type: string
          example: Veículo em boas condições de uso?
        Abrangencia:
          description: Abrangência
          type: string
          example: Carga e descarga de mercadorias
        Historico:
          description: Histórico
          type: string
          example: 'Carga e descarga: 463'
        Protocolo:
          description: Protocolo
          type: integer
          example: 1573
        Valor:
          description: Valor
          type: string
          example: SIM
    CamposPadraoAnexoGet:
      type: object
      description: Informação dos anexos da ordem
      properties:
        Sequencial:
          type: integer
          description: Sequencial do anexo
          example: 4
        Tipo:
          type: string
          description: Tipo do anexo
          example: Documento
        Tipo interno:
          type: string
          description: Tipo interno do tipo do anexo
          example: Documento de faturamento de venda
        Nome:
          type: string
          description: Nome do arquivo anexo
          example: documento.pdf
        Data:
          type: string
          description: Data do anexo da ordem
          example: 17/07/2020
    CamposPadraoCargaDescargaGet:
      type: object
      description: Informação dos carregamentos/descargas da ordem
      properties:
        Situacao:
          type: string
          description: Situação do registro
          example: Ag liberação veículo
        Filial:
          type: string
          description: Filial
          example: DEM
        Tipo:
          type: string
          description: Descrição do tipo da carga/descarga
          example: CARGA
        TipoProcesso:
          description: Descrição do tipo do processo
          type: string
          example: Carga
        Data:
          type: string
          description: Data
          example: 17/07/2020 09:09
        NumeroControle:
          type: string
          description: Número de controle
          example: '0001'
        Quantidade:
          description: Quantidade
          type: number
          multipleOf: 0.0001
          example: 3
        PesoLiquido:
          description: Peso Líquido
          type: number
          multipleOf: 0.0001
          example: 10
        PesoBruto:
          description: Peso Bruto
          type: number
          multipleOf: 0.0001
          example: 10
        Numero:
          description: Número
          type: integer
          example: 10
        QuantidadeEmbalagem:
          description: Quantidade de embalagens
          type: integer
          example: 10
        Volume:
          description: Quantidade de volumes
          type: integer
          example: 10
        Cliente:
          type: string
          description: Descrição do cliente
          example: DEMONSTRAÇÃO - 99.999.999/9999-99
        Fornecedor:
          type: string
          description: Descrição do fornecedor
          example: DEMONSTRAÇÃO - 99.999.999/9999-99
        Prioridade:
          description: Descrição da prioridade
          type: string
          example: Agregado
        Conferente:
          type: string
          description: Descrição do conferente
          example: demonstracao
        Doca:
          type: string
          description: Descrição da doca
          example: DOCA
        ProgramacaoDoca:
          type: string
          description: Número da programação da doca
          example: '7'
        Observacao:
          type: string
          example: Observação
        DataExecucao:
          type: string
          description: Data de execução
          example: 17/07/2020 12:00
        VeiculoLiberado:
          description: Indica se o veículo já foi liberado
          type: string
          example: Não
        Transporte:
          type: object
          properties:
            Transportadora:
              description: Descrição da transportadora
              type: string
              example: DEMONSTRAÇÃO - 99.999.999/9999-99
            TipoVeiculo:
              description: Descrição do tipo do veículo
              type: string
              example: TRUQUE
            UF:
              description: Descrição da UF do veículo
              type: string
              example: SC
            Propriedade:
              description: Descrição da propriedade
              type: string
              example: Próprio
            UfReboque:
              description: Descrição da UF do reboque do veículo
              type: string
              example: SC
            Viagem:
              description: Número da viagem
              type: integer
              example: 10
            OrdemFrete:
              description: Número da ordem de frete
              type: integer
              example: 70
            PrevisaoEntrega:
              type: string
              description: Data de previsão de entrega
              example: 17/07/2020 10:50
            Chegada:
              type: string
              description: Data de chegada
              example: 17/07/2020 10:50
            Entrada:
              type: string
              description: Data de entrada
              example: 17/07/2020 10:50
            Saida:
              type: string
              description: Data de saída
              example: 17/07/2020 10:50
            Motorista:
              description: Descrição do motorista
              type: string
              example: MOTORISTA
            RgCpfCnh:
              description: Rg/Cpf/Cnh do motorista
              type: string
              example: '00000000'
            Veiculo:
              description: Placa do veículo
              type: string
              example: ABC1234
            Reboque:
              description: Placa do reboque do veículo
              type: string
              example: ABG1274
            Incoterm:
              description: Descrição do incoterm
              type: string
              example: INCOTREM
            Navio:
              description: Descrição do navio
              type: string
              example: NAVIO
            Conteiner:
              description: Descrição do contêiner
              type: string
              example: BMOU4798420
            DI:
              description: Descrição do DI
              type: string
              example: '12312312'
            Processo:
              description: Descrição do processo
              type: string
              example: PROCESSO
            Vagao:
              description: Descrição do vagão
              type: string
              example: VAGAO
            Lacre1:
              description: Descrição do lacre 1
              type: string
              example: '123123213'
            Lacre2:
              description: Descrição do lacre 2
              type: string
              example: '500000'
    CamposPadraoDocumentoCargaDescargaGet:
      type: object
      description: Informação dos documentos da carga/descarga
      properties:
        Situacao:
          type: string
          description: Situação do registro
          example: Ag. Modificações
        Documento:
          type: string
          description: Número do documento e Número de série
          example: 96 - 2
    CamposPadraoTarefaOperadorGet:
      type: object
      description: Informação das tarefas do operadores
      properties:
        Situacao:
          type: string
          description: Situação do registro
          example: Encerrada
        Operador:
          type: string
          description: Descrição do operador
          example: demonstracao
        Data:
          type: string
          description: Data
          example: 10/08/2022 11:54:07
        TipoTarefa:
          type: string
          description: Descrição do tipo
          example: Confirmar carregamento
        Inicio:
          type: string
          description: Data de início da execução
          example: 10/08/2022 11:54:07
        Termino:
          type: string
          description: Data de término da execução
          example: 10/08/2022 12:00:00
        Historico:
          type: string
          description: Descrição do histórico
          example: 463 - DEMO - ABC1234
    CamposItemDaCargaDescargaGet:
      type: object
      description: Informação dos itens da carga
      properties:
        Situacao:
          type: string
          description: Situação do registro
          example: Ag. Encerramento
        Embalagem:
          type: string
          description: Número da embalagem
          example: '38'
        Referencia:
          type: string
          description: Referência da embalagem
          example: 947/1
        Sequencial:
          type: integer
          description: Número do sequencial da embalagem
          example: 1
        Posicao:
          type: integer
          description: Número da posição da embalagem
          example: 1
        CarregadoPor:
          type: string
          description: Login do usuário que efetuou o carregamento
          example: demonstracao
        CarregadoEm:
          type: string
          description: Data em que foi carregado a mercadoria
          example: 10/08/2022 14:38
        ConfirmadoAutomaticamente:
          type: string
          example: Sim
    CamposEmbalagemDaCargaDescargaGet:
      type: object
      description: Informação das embalagens da carga
      properties:
        Situacao:
          type: string
          example: Ag. Encerramento
          description: Situação do registro
        Norma:
          type: string
          example: 1 CAIXA
          description: Descrição da norma
        Tipo:
          type: string
          example: CAIXA
          description: Descrição do tipo
        Quantidade:
          type: integer
          example: 1
          description: Quantidade
        PesoLiquido:
          example: 10
          type: number
          multipleOf: 0.0001
          description: Peso Líquido
        PesoBruto:
          example: 10.5
          type: number
          multipleOf: 0.0001
          description: Peso bruto
        PesoReal:
          example: 8.5
          type: number
          multipleOf: 0.0001
          description: Peso real
        CubagemVolume:
          example: 3.33
          type: number
          multipleOf: 0.0001
          description: Cubagem do volume
        CapacidadeM3:
          example: 3.33
          type: number
          multipleOf: 0.0001
          description: Capacidade de M³
        Numero:
          type: integer
          example: 1
          description: Número
        Volumes:
          type: integer
          example: 1
          description: Quantidade de volumes
        Ordem:
          type: string
          example: '947'
          description: Número da ordem
        Unitizacao:
          type: string
          example: '60'
          description: Número da Unitização
        Volume:
          type: string
          example: '1'
          description: Número do volume
        EmbalagemMaster:
          type: string
          example: '50'
          description: Número da embalagem master
        Cliente:
          type: string
          example: DEMONSTRAÇÃO - 99.999.999/9999-99
          description: Descrição do cliente
        ClienteFinal:
          type: string
          example: DEMONSTRAÇÃO - 99.999.999/9999-99
          description: Descrição do cliente final
        Deposito:
          type: string
          example: DEPOSITO
          description: Descrição do deposito
        Endereco:
          type: string
          example: EXPEDICAO
          description: Descrição do endereçoo da embalagem
        MunicipioClienteFinal:
          type: string
          example: RIO DO SUL
          description: Descrição do município do cliente final
        UF:
          type: string
          example: SC
          description: UF do cliente final
        Referencia:
          type: string
          example: 947/1
          description: Descrição da referência
        CodigoRastreamento:
          type: string
          example: BR0000000000000000
          description: Descrição do código de rastreamento
        NomeClienteFinal:
          type: string
          example: DEMONSTRAÇÃO
          description: Nome do cliente final
    CamposExpedicaoFisicaCargaDescargaGet:
      type: object
      description: Informações das expedições físicas vinculadas a carga e descarga
      properties:
        Situacao:
          type: string
          example: Ag. Encerramento
          description: Situação do registro
        Tipo:
          type: string
          description: Descrição do tipo
          example: VENDA ARMAZENAGEM
        Prioridade:
          type: string
          example: 3 - Normal
          description: Descrição da prioridade
        Pessoa:
          type: string
          example: DEMONSTRAÇÃO - 99.999.999/9999-99
          description: Descrição da pessoa
        Quantidade:
          example: 10
          type: number
          multipleOf: 0.0001
          description: Quantidade
        PesoBruto:
          example: 10
          type: number
          multipleOf: 0.0001
          description: Peso bruto
        PesoLiquido:
          example: 10
          type: number
          multipleOf: 0.0001
          description: Peso Líquido
        ValorTotal:
          example: 200
          type: number
          multipleOf: 0.01
          description: Valor total
        Numero:
          type: integer
          example: 1
          description: Número
        Volumes:
          type: integer
          example: 2
          description: Quantidade de volumes
        NaturezaOperacao:
          type: string
          example: VENDA - ARMAZENAGEM
          description: Descrição da natureza de operação
        IndicadorPresenca:
          type: string
          example: Não se aplica
          description: Descrição do indicador de presença
        Frete:
          type: string
          example: Sem ocorrência de transporte
          description: Descrição do frete
        ObservacaoNaoFiscalApenasParaUsoInterno:
          type: string
          example: Observacao
          description: Descrição da observação
        EntregarAte:
          type: string
          example: 10/08/2022 14:58
          description: Data de entregar até
        NumeroControle:
          type: string
          example: '2020'
          description: Número de controle
        NumeroPedido:
          type: string
          example: '20202'
          description: Número de pedido
        Transportadora:
          type: string
          example: DEMONSTRAÇÃO - 99.999.999/9999-99
          description: Descrição da transportadora
        UfVeiculo:
          type: string
          example: SC
          description: UF do veículo
        UfReboque:
          type: string
          example: SC
          description: UF do reboque
        Especie:
          type: string
          example: CAIXA
          description: Descrição da espécie
        Veiculo:
          type: string
          example: ABC1234
          description: Placa do veículo
        RNTRCVeiculo:
          type: string
          example: '00000'
          description: RNTRC do veículo
        Reboque:
          type: string
          example: ABC1234
          description: Placa do reboque
        RNTRCReboque:
          type: string
          example: '00000'
          description: RNTRC do reboque
        Balsa:
          type: string
          example: BALSA
          description: Descrição da balsa
        Vagao:
          type: string
          example: VAGAO
          description: Descrição do vagão
        MarcaVolume:
          type: string
          example: MARCA
          description: Descrição da marca do volume
        NumeroVolume:
          type: string
          example: '10'
          description: Número do volume
        AlmoxarifadoDestinoRemessa:
          type: string
          example: ALMOXARIFADO
          description: Descrição do almoxarifado de destino da remessa
        AlmoxarifadoTransferenciaFilial:
          type: string
          example: ALMOXARIFADO
          description: Descrição do almoxarifado da transferência de filial
        FilialDestino:
          type: string
          example: DEMONSTRACAO
          description: Descrição da filial de destino
        Financeiro:
          type: object
          properties:
            FormaPagamento:
              type: string
              example: Carteira
              description: Descrição da forma de pagamento
            CondicaoPagamento:
              type: string
              example: 1 VEZ
              description: Descrição da condição de pagamento
            ContaTesouraria:
              type: string
              example: CAIXA MATRIZ
              description: Descrição da conta de tesouraria
        Fiscal:
          type: object
          properties:
            Operacao:
              type: string
              example: 17 - Operacao
              description: Descrição da operação
            NaturezaOperacaoFiscal:
              type: string
              example: Remessa em garantia
              description: Descrição da natureza de operação fiscal
            ContaContabil:
              type: string
              example: 1.1.01.01.001 - Caixa matriz
              description: Descrição da conta contábil
            TipoDocumento:
              type: string
              example: Nota fiscal
              description: Descrição do tipo de documento
            Serie:
              type: string
              example: '1'
              description: Número de série
            ObservacaoFiscal:
              type: string
              example: Observação
              description: Descrição da observação fiscal
            Emissao:
              type: string
              example: 10/08/2022
              description: Data da emissão
            Saida:
              type: string
              example: 10/08/2022
              description: Data da saída
    CamposOcorrenciaCargaDescargaGet:
      type: object
      description: Informação das ocorrências vinculadas a carga e descarga
      properties:
        Situacao:
          type: string
          example: Ag. Encerramento
          description: Situação do registro
        Tipo:
          type: string
          example: Definir dados de transporte
          description: Descrição do tipo
        Data:
          type: string
          example: 10/08/2022 11:57
          description: Data
        Numero:
          type: integer
          example: 184
          description: Número
        Acao:
          type: string
          example: Definir dados de transporte
          description: Descrição da ação
        Observacao:
          type: string
          example: Observacao
          description: Descrição da observação
        Transportadora:
          type: string
          example: DEMONSTRAÇÃO - 99.999.999/9999-99
          description: Descrição da transportadora
        ProgramacaoEntrega:
          type: object
          properties:
            ClienteFinal:
              type: string
              example: DEMONSTRAÇÃO - 99.999.999/9999-99
              description: Descrição do cliente final
            EntregarDe:
              type: string
              example: 10/08/2022 11:57
              description: Data de entregar de
            EntregarAte:
              type: string
              example: 10/09/2022 11:57
              description: Data de entregar até
        Transporte:
          type: object
          properties:
            TipoVeiculo:
              type: string
              example: CARRETA SYDER/BAU
              description: Descrição do tipo de veículo
            UfVeiculo:
              type: string
              example: SC
              description: UF do veículo
            Propriedade:
              type: string
              example: Agregado
              description: Descrição da propriedade do veículo
            Conteiner:
              type: string
              example: BMOU4798420
              description: Descrição contâiner
            Doca:
              type: string
              example: DEMONSTRACAO
              description: Descrição da doca
            ProgramacaoDoca:
              type: string
              example: '7'
              description: Número da programação de doca
            Veiculo:
              type: string
              example: ABC1234
              description: Placa do veículo
            Reboque:
              type: string
              example: ABC1234
              description: Placa do reboque
            Vagao:
              type: string
              example: VAGAO
              description: Descrição do vagão
            Motorista:
              type: string
              example: DEMONSTRACAO
              description: Descrição do motorista
            RgCpfCnh:
              type: string
              example: '00000'
              description: Descrição do documento do motorista
    CamposPassagemVeiculoCargaDescargaGet:
      type: object
      description: Informação das passagens de veículo vinculada a carga e descarga
      properties:
        Situacao:
          type: string
          example: Ag chegada
          description: Situação do registro
        Motivo:
          type: string
          example: CARREGAMENTO
          description: Descrição do motivo
        Numero:
          type: integer
          example: 43
          description: Número
        Cliente:
          type: string
          example: DEMONSTRAÇÃO - 99.999.999/9999-99
          description: Descrição do cliente
        Doca:
          type: string
          example: DEMONSTRACAO
          description: Descrição da doca
        Observacao:
          type: string
          example: OBSERVACAO
          description: Descrição da observação
        Data:
          type: string
          example: 10/08/2022 11:51
          description: Data
        PrevisaoChegada:
          type: string
          example: 10/08/2022 11:51
          description: Data da previsão de chegada
        Chegada:
          type: string
          example: 110/08/2022 11:51
          description: Data da chegada
        Entrada:
          type: string
          example: 10/08/2022 11:51
          description: Data da entrada
        Saida:
          type: string
          example: 10/08/2022 11:51
          description: Data da saída
        Tempo:
          type: integer
          example: 0
          description: Tempo
        Duracao:
          type: integer
          example: 0
          description: Duração
    CamposValidacaoCargaDescargaGet:
      description: Validação
      type: object
      properties:
        Situacao:
          type: string
          example: Ag chegada
          description: Situação do registro
        Regra:
          type: string
          example: Observação não preenchida
          description: Descrição da regra
        Protocolo:
          type: integer
          example: 284
          description: Número do protocolo
        Finalidade:
          type: string
          example: Aviso
          description: Descrição da finalidade
        Descricao:
          type: string
          example: Descrição da regra
          description: Descrição da regra
    CamposPadraoSaidaGet:
      title: Saída de mercadoria
[...]
